
#tone-piano {
  width: 200px;
  height: 100px;
  border: red thin solid;
  text-align: center;
}

#tone-mono-synth {
  width: 200px;
  height: 100px;
  border: red thin solid;
  text-align: center;
}
